# Ignorar los archivos descargados de mapas y elevación (Binarios pesados)
Geodata/srtm3/*
Geodata/Landcover/*
Geodata/OpenStreetMap/*
Geodata/Terraserver/*
Geodata/Toporama/*

# Mantener las carpetas vacías en Git para que el entorno no se rompa al clonar
!Geodata/srtm3/.gitkeep
!Geodata/Landcover/.gitkeep
!Geodata/OpenStreetMap/.gitkeep
!Geodata/Terraserver/.gitkeep
!Geodata/Toporama/.gitkeep

# Ignorar archivos temporales o de configuración local que genere el programa
src_program/*.ini
src_program/*.tmp
src_program/History.txt